@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header
{
    height: 100vh;
    nav
    {
        width: 100%;
        height: 90px;
        display: flex;
        border: 1px solid rgb(212, 210, 210);
        .left
        {
            width: 30%;
            height: 100%;
            padding: 40px 0 0 100px;
        }
        .center
        {
            width: 35%;
            height: 100%;
            padding: 40px 0 0 10px;
            a
            {
                color: #000;
                margin-left: 50px;
                text-decoration: none;
                display: inline-block;
                font-family: 'Poppins', sans-serif;
            }
        }
        .right
        {
            width: 30%; 
            height: 100%;
            display: flex;
            align-items: center;
            padding: 15px 0 0 60px;
            input
            {
                width: 250px;
                height: 50px;
                border: none;
                outline: none;
                background: rgb(251, 247, 247);
                border-radius: 10px;
                padding: 0 55px 0 15px;
            }
            img
            {
                margin-left: 30px;
                &:hover
                {
                    cursor: pointer;
                }
            }
            .search
            {
                width: 18px;
                height: 18px;
                transform: translate(180px, 0px);
                position: absolute;
            }
        }
    }
    .header
    {
        display: flex;
        .category
        {
            gap: 17px;
            width: 250px;
            height: 400px;
            display: flex;
            padding-top: 50px;
            padding-right: 30px;
            margin-left: 100px;
            flex-direction: column;
            border-right: 1px solid rgb(212, 210, 210);
            ul
            {
                display: flex;
                align-items: center;
                list-style-type: none;
                justify-content: space-between;
                a
                {
                    color: #000;
                    text-decoration: none;
                }
            }
        }
        .container
        {
            width: 830px;
            height: 350px;
            overflow-y: hidden;
            margin-left: 100px;
            margin-top: 50px;
            scroll-behavior: smooth;
            &::-webkit-scrollbar
            {
                display: none;
            }
            .card
            {
                width: 4000px;
                height: 350px;
                transition: 1s;
                background-image: url(../../assets/headerCarusel.png);
                // background-size: contain;
            }
        }
    }
}